{{- if .Values.config }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "sharinghub.fullname" . }}-config
  labels:
    {{- include "sharinghub.labels" . | nindent 4 }}
data:
  config.yaml: |
{{- tpl .Values.config $ | nindent 4 -}}
{{- end -}}